In [1]:
import pandas as pd
df = pd.read_csv("csv/Sample10K.csv", nrows = 1000)

In [9]:
df.groupby(by = "Company Name")["Leave"].max()

Company Name
10 PRACTICE TESTS BITSAT                                       1
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA                      10
1001 WORDS IN PICTURE BOOK                                     0
101 WEIGHTS LOSS TIPS                                          0
101 WORLD FAMOUS PERSOMarkLITIES                               1
                                                              ..
YOUR FIMarkNCIALLY                                             5
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH)     0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS                        0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH                    0
ZELALDINUS                                                     0
Name: Leave, Length: 992, dtype: int64

In [13]:
# muy interesante, tira estádística básica
df.groupby(by = "Company Name")["Leave"].describe()

,count,mean,std,min,25%,50%,75%,max
Company Name,,,,,,,,
10 PRACTICE TESTS BITSAT,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA,1.0,10.0,NaN,10.0,10.0,10.0,10.0,10.0
1001 WORDS IN PICTURE BOOK,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
101 WEIGHTS LOSS TIPS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
101 WORLD FAMOUS PERSOMarkLITIES,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
YOUR FIMarkNCIALLY,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH),1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
ZELALDINUS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0

In [17]:
# calculando la media
df.groupby(by = "Company Name")["Leave"].mean()

Company Name
10 PRACTICE TESTS BITSAT                                       1.0
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA                      10.0
1001 WORDS IN PICTURE BOOK                                     0.0
101 WEIGHTS LOSS TIPS                                          0.0
101 WORLD FAMOUS PERSOMarkLITIES                               1.0
                                                              ...
YOUR FIMarkNCIALLY                                             5.0
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH)     0.0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS                        0.0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH                    0.0
ZELALDINUS                                                     0.0
Name: Leave, Length: 992, dtype: float64

In [20]:
# podemos hacer operaciones y calcular datos
df.groupby(by = "Company Name")["Leave"].max() - df.groupby(by = "Company Name")["Leave"].min()

Company Name
10 PRACTICE TESTS BITSAT                                      0
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA                      0
1001 WORDS IN PICTURE BOOK                                    0
101 WEIGHTS LOSS TIPS                                         0
101 WORLD FAMOUS PERSOMarkLITIES                              0
                                                             ..
YOUR FIMarkNCIALLY                                            0
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH)    0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS                       0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH                   0
ZELALDINUS                                                    0
Name: Leave, Length: 992, dtype: int64

In [21]:
# los GROUPBY se pueden guardar como objetos y luego aplicar distintas funciones max, min, describe, etc
dfgroupby = df.groupby(by = "Company Name")["Leave"]

In [23]:
dfgroupby.max()

Company Name
10 PRACTICE TESTS BITSAT                                       1
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA                      10
1001 WORDS IN PICTURE BOOK                                     0
101 WEIGHTS LOSS TIPS                                          0
101 WORLD FAMOUS PERSOMarkLITIES                               1
                                                              ..
YOUR FIMarkNCIALLY                                             5
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH)     0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS                        0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH                    0
ZELALDINUS                                                     0
Name: Leave, Length: 992, dtype: int64

In [24]:
dfgroupby.describe()

,count,mean,std,min,25%,50%,75%,max
Company Name,,,,,,,,
10 PRACTICE TESTS BITSAT,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
1001 CHILDREN'S ILLUSTRATED ENCYCLOPEDIA,1.0,10.0,NaN,10.0,10.0,10.0,10.0,10.0
1001 WORDS IN PICTURE BOOK,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
101 WEIGHTS LOSS TIPS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
101 WORLD FAMOUS PERSOMarkLITIES,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
YOUR FIMarkNCIALLY,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
YOUR FIRST JOB - HOW TO MAMarkGE YOUR FIMarkNCES (ENGLISH),1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
YOUR GUIDE TO FIMarkNCE AND INVESTMENTS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
YOUR MONEY AND YOUR NURTURE IT TO GROW RICH,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
ZELALDINUS,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0